/*
  yellow:  #fcf30a; rgba(252, 243, 10, 1) darkened #E3DA00
  green:   #069b3c; rgba(5, 138, 57, 1)
  black:   #000001;
 */
body {
  overflow-x: hidden;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {color: #777;}
.text-primary {color: #069b3c;}
.text-secondary {color: #fcf30a;}
.text-darkest-gray {color: #222;}
.bg-yellow {background-color: #fcf30a;color: #fff;}
.bg-green {background-color: #069b3c;color: #fff;}
.bg-light-gray {background-color: #f7f7f7;}
.bg-darkest-gray {background-color: #222;color: #fff;}
.bg-black {background-color: #000001; color: #fff;}

p {
  font-size: 14px;
  line-height: 1.75
}
p.large {
  font-size: 16px
}
a, a:hover, a:focus, a:active, a.active {
  outline: 0
}
a {
  color: #fcf30a
}
a:hover, a:focus, a:active, a.active {
  color: #E3DA00
}
section#about {
  background-image: url(../img/furley_bg.png);
}
section#about img {
  height: auto;
  max-width: 300px;
}

@media(min-width:768px) {
  section#about img {
    height: auto;
    max-width: 100%;
  }
}
section#business-info {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
}
section#business-info p {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700
}
.img-centered {
  margin: 0 auto
}
.btn-primary {
  color: #fff;
  background-color: #fcf30a;
  border-color: #E3DA00;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #222;
  border-color: #000
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-image: none
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #fcf30a;
  border-color: #fcf30a
}
.btn-primary .badge {
  color: #fcf30a;
  background-color: #fff
}
.btn-xl {
  color: #000;
  background-color: #fcf30a;
  border-color: #000;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
  color: #000;
  background-color: #222;
  border-color: #000
}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
  background-image: none
}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
  background-color: #fcf30a;
  border-color: #fcf30a
}
.btn-xl .badge {
  color: #fcf30a;
  background-color: #fff
}
.navbar-default {
  background-color: #fff;
  height: 80px;
}
.navbar-default .navbar-brand img {
  height: 60px;
  width: auto
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
  color: #E3DA00
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, .02)
}
.navbar-default .navbar-toggle {
  background-color: #222;
  border-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #222
}
.navbar-default .nav li a {
  border-radius: 0;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #222
}
.navbar-default .nav li a:hover {
  color: #000;
  background-color: #E3DA00
}
.navbar-default .navbar-nav>.active>a {
  color: #000;
  background-color: #fcf30a
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #000;
  background-color: #E3DA00
}
@media (min-width:768px) {
  .navbar-default {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0;
    background-color: transparent
  }
  .navbar-default .navbar-nav>.active>a {
    border-radius: 3px
  }
  .navbar-default.navbar-shrink {
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 0
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em
  }
  .navbar-default.navbar-shrink .navbar-brand img {
    height: 50px;
    width: auto;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
  }
}
header {
  background-image: url(../img/76718403.jpg);
  background-repeat: none;
  background-attachment: scroll;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  height: 500px;
}
@media (min-width:768px) {
  header > a.call-to-action {
    margin-top: 50px;
  }
  header > img.main-logo {
    height: 50px;
  }
}
section {
  padding: 100px 0
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px
}
@media (min-width:768px) {
  section {
    padding: 150px 0
  }
}
.sector-heading {
  margin: 15px 0;
  text-transform: none
}
#courses .course-item {
  margin: 0 0 15px;
  right: 0
}
#courses .course-item .course-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto
}
#courses .course-item .course-link .course-hover {
  background: rgba(5, 138, 57, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s
}
#courses .course-item .course-link .course-hover:hover {
  opacity: 1
}
#courses .course-item .course-link .course-hover .course-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff
}
#courses .course-item .course-link .course-hover .course-hover-content i {
  margin-top: -12px
}
#courses .course-item .course-link .course-hover .course-hover-content h3, #courses .course-item .course-link .course-hover .course-hover-content h4 {
  margin: 0
}
#courses .course-item .course-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  padding: 25px;
  height: 125px;
  overflow: hidden;
}
#courses .course-item .course-caption h4 {
  text-transform: none;
  margin: 0
}
#courses .course-item .course-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0
}
#courses * {
  z-index: 2
}
@media (min-width:767px) {
  #courses .course-item {
    margin: 0 0 30px
  }
}
section#contact .section-heading {
  color: #222;
}
section#contact .form-group {
  margin-bottom: 25px
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px
}
section#contact .form-group input.form-control {
  height: auto
}
section#contact .form-group textarea.form-control {
  height: 236px
}
section#contact .form-control:focus {
  border-color: #069b3c;
  box-shadow: none
}
section#contact::-webkit-input-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}
section#contact:-moz-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}
section#contact::-moz-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}
section#contact:-ms-input-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}
section#contact .text-danger {
  color: #e74c3c
}
footer {
  padding: 25px 0;
  text-align: center
}
footer span.copyright {
  line-height: 40px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none
}
ul.social-buttons {
  margin-bottom: 0
}
ul.social-buttons li a {
  display: block;
  background-color: #fcf30a;
  color: #222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #E3DA00;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
  outline: 0
}
.course-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  min-height: 100%;
  padding: 100px 0;
  text-align: center
}
.course-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em
}
.course-modal .modal-content p {
  margin-bottom: 30px
}
.course-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px
}
.course-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0
}
.course-modal .modal-content img {
  margin-bottom: 30px
}
.course-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer
}
.course-modal .close-modal:hover {
  opacity: .3
}
.course-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 1051
}
.course-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  z-index: 1052
}
.course-modal .modal-backdrop {
  opacity: 0;
  display: none
}
::-moz-selection {
  text-shadow: none;
  background: #fcf30a
}
::selection {
  text-shadow: none;
  background: #fcf30a
}
img::selection {
  background: 0 0
}
img::-moz-selection {
  background: 0 0
}
body {
  webkit-tap-highlight-color: #fcf30a
}

/* Safety Signs */
.sign {
  background-image: url('../assets/signs.png');
  background-repeat: no-repeat;
  display:block;
  height: 108px;
  width: 107px;
}

.sign-goggles {
  background-position: 0 0;
}

.sign-mask {
  background-position: -107px 0;
}

.sign-hardhat {
  background-position: -214px 0;
}

.sign-gloves {
  background-position: -321px 0;
}

.sign-hiviz {
  background-position: -428px 0;
}

.sign-muffs {
  background-position: -535px 0;
}

.sign-boots {
  background-position: -642px 0;
}

.sign-harness {
  background-position: -749px 0;
}

.sign-overalls {
  background-position: -856px 0;
}
