html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 180px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 180px;
  background-color: #f5f5f5;
}
.bg-darkest-gray {background-color: #222;color: #fff;}
.bg-light-gray {background-color: #f7f7f7;}
.bg-white {background-color: #fff;}
img.main-logo {
  height: auto;
  padding-bottom: 10px;
  max-width: 80%;
}
a,
a:visited,
a:focus { color: #333; }
a:hover,
a:active { text-decoration: none; }
@media(min-width:768px) {
  img.main-logo {padding: 20px 0}
}
body { font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif; }
body > .container { padding: 60px 15px 0; }
#under-construction {
  background-color: #149a3f;
  color: black;
  text-align: center;
  background-image: repeating-linear-gradient(45deg, black 0px, black 10px, transparent 10px, transparent 20px, black 20px);
}
#under-construction span {
  background-color: inherit;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 800;
  margin: 0 auto;
  padding: 0 20px;
  text-transform: uppercase;
}

/* Image thumbnails */
.course { height: 150px; }
.thumb {
  max-height: 150px;
  width: auto;
  vertical-align: middle;
  margin: 0 auto;
}
.tall {
  vertical-align: middle;
  margin: 0 auto;
}
.map {
  height: 200px;
  margin: 0 auto;
}
@media(max-width:768px) {
  nav#under-construction { font-size: 0.9em; }
  footer { font-size: 0.75em; }
}
footer {
  padding-top: 25px;
  text-align: center;
  position: relative;
}
footer span.copyright {
  line-height: 40px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;p
  margin-bottom: 10px
}
footer .row {
  padding-bottom: 20px;
}

section#business-info {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  bottom: 0;
}
section#business-info p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.creditcard {
    background-image: url(../img/creditcards.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    width: 51px;
    margin-right: 5px;
}
.mastercard {background-position: -55px -35px;}
.visa {background-position: -108px -35px;}
.visa-electron {background-position: -107px -69px;}


/* Contact Form */
section#contact {
  background-color: #eee;
  margin-top: 2em;
  padding: 3em;
}
section#contact .section-heading {
  color: #222;
}
section#contact .form-group {
  margin-bottom: 25px
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px
}
section#contact .form-group input.form-control {
  height: auto
}
section#contact .form-group textarea.form-control {
  height: 236px
}
section#contact .form-control:focus {
  border-color: #069b3c;
  box-shadow: none
}
section#contact::-webkit-input-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}
section#contact:-moz-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}
section#contact::-moz-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}
section#contact:-ms-input-placeholder {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #bbb
}
section#contact .text-danger {
  color: #e74c3c
}
.btn-primary {
  color: #222;
  background-color: #fcf30a;
  border-color: #222;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700
}

.btn-primary:hover,
.btn-primary:link,
.btn-primary:focus,
.btn-primary:active {
  background-color: #e3da00 !important;
  border-color: #e3da00;
  color: #222;
}

a[href^="tel:"]
{
  text-decoration: underline;
}
